{{>navbar}}
  <form class="form-inline my-2 my-lg-0">
    <input name = "search" class="form-control mr-sm-2" type="search" placeholder="Search by name or parcode" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
    <section class="container">
    {{#if hasProducts}}
      <div class="row jsutify-content-center">
        {{#each activeProducts}}
          {{>showproduct}}
        {{/each}}
      </div>
      {{else}}
        <div class="row jsutify-content-center">
          <div class="col-12 my-5">
            <h2>No Available Products</h2>
          </div>
        </div>
    {{/if}}
  </section>
{{>footer}}