{{>navbar}}
  <section class="container">
    <div class="row my-5">
      <div class="col-5">
        <a href="/add" class="btn btn-primary">+ Add new product</a>
      </div>
    </div>
  </section>
{{#if val}}
  
    <section class="container">
    {{#if hasProducts}}
      <div class="row jsutify-content-center">
        {{#each filteredProducts}}
          {{>showproduct}}
        {{/each}}
      </div>
      {{else}}
        <div class="row jsutify-content-center">
          <div class="col-12 my-5">
            <h2>No Available Products</h2>
          </div>
        </div>
    {{/if}}
  </section>
{{/if}}
{{>footer}}